.container{
    padding: 20px;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.thumbnail{
    box-shadow: 2px 3px #c2c2c2;
}

.card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    margin: 10px;
    width: 300px;
}

.card-btn{
    text-align: right;
}

.card-btn a{
    margin: 2px;
}